/* header */


 

/* navagation */

a {
  color: #11338b;
}

a:hover {
  text-decoration: none;
}

.nav-link {
  color: #11338b;
}

.dropdown-item{
  display: block;
  padding: .5em;
  color: #11338b;
}

/* headings */

h1{
  font-family:Avenir, sans-serif;
  font-weight:100;
  color: white;
}

/* body */

article {
  background: #dbd434;
}

.home figure {
  display: inline-block;
  width:45%;
  margin: 3em;
}

.headerimg{
  width:100%;
}

.hsidepic {
  margin: 2em 3em 0 0;
  float: right; 
  height:200px;
}

.ppsidepic {
  margin: 2em 3em 0 0;
  float: right; 
  height: 300px;
}

.assidepic {
  width: 300px;
}

.toppic {
  margin-top:-14px;
  height: 100px;
}

.ssteelpic{
  height: 300px;
}

.pipepiling {
  background: #11338B;
}

.pipepiling figure{
  display: inline-block;
  width:45%;
  margin: 3em;
}

.pipepiling figure p {
  padding-top: 1em;
  color: white;
}

blockquote{
  margin: 4em;
}

 .ssteel{
   background: #919e9a;
}

.ssteel img{
  margin: -7em 0 2em 2em;
}

.ssteel figure{
    display: inline-block;
  width:42%;
  margin: 2em;
}

.arcsteel figure{
    display: inline-block;
  width:55%;
  margin: 3em;
 
}

.arcsteel img {
  margin-top:-11em;
}

.qcontrol {
  background: #11338B;
  color: white;
  padding: 3em;
}

#map-canvas {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  border: 2px solid #fff;
}

.contact{
  background: #919e9a;
}

.contact div{
  padding: 3em;
  display: inline-block;
}

dd a:hover {
  color: white;
}

ul {
  text-decoration: none;
}


/*  Medium devices (tablets, smaller desktop) */
@media (max-width: 1032px) { 

  .home {
    background: red;
  }
  
  .pipepiling {
    text-align: ;
  }
  
  .pipepiling figure{
    width: 80%;
  }
  
  .pipepiling .ppsidepic{
    display: none;
  }
  
}

 
@media (max-width: 861px) { 

  .home {
    background: green;
  }
  
  .ssteel img{
    display: none;
  }
  
  .ssteel {
    text-align: right;
  }
  
  .ssteel figure {
    width:90%;
  }
  
  .arcsteel figure{
    width:90%;
  }
  
  .arcsteel img{
    display: none;
  }
  
} 

@media (max-width: 544px) { 

  .home{
    background: orange;
  }
  
  .home figure{
    width: 90%;
  }
  
  .home figure p {
     margin-right: 1em;
  }
  
  .toppic {
    display: none;
  }
  
  
  .home img {
    display: none;
  }

}