@import url('https://fonts.googleapis.com/css?family=Palanquin:100,400');

/* navagation */

a {
  color: #11338b;
}

a:hover {
  text-decoration: none;
  color: grey;
}


.dropdown-item{
  display: block;
  padding: .5em;
  
}

/* headings */

h1{
  font-family:Avenir, sans-serif;
  font-weight:100;
  color: white;
  font-size:3.5em;
  text-align: center;
}

.l-sideheader {
  text-align: left;
}

/* lists */

figure li {
  margin: 0 0 0 -2.7em;
  padding: .2em;
  font-size: 1.1em;
}

dd a:hover {
  color: rgba(225,225,225, .8);
}

ul {
  list-style: none;
}

dl{
  width: 60%;
}

dt {
  padding:.2em;
}

.wlist {
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding-top: 1em;
  font-family: 'Palanquin', sans-serif;
  font-weight:100;
}

.blist{
  font-size: 1.5em;
  text-align: center;
  padding-top: 1em;
  font-family: 'Palanquin', sans-serif;
  font-weight:100;
}

.list-group {
  display: inline;
}

.list-group2{
  display: inline;
}

/* body */

article {
  background: #dbd434;
}

.headerimg{
  width:100%;
  margin-top:3em;
}

.home {
  position: relative;
  display: flex;
}

.home figure {
  display: inline-block;
  width: 90%;
  margin: 3em;
  padding: 1em;
}

.lead{
  font-size:2em;
}

.hsidepic { 
  width: 35%;
  height: 35%;
  position: absoulte;
  display: inline;
  margin: 0;
/*   border: 3px solid white; */
} 

  .tabletpic{
    display: none;
  }

.toppic {
  margin-top:-14px;
  height: 100px;
}

.pipepiling {
  background: #11338B;
  position: relative;
  display: flex;
}

.pipepiling figure{
  display: inline-block;
  width:100%;
  margin: 4em;
}

.ppsidepic { 
  height: 27em;
  position: absoulte;
  display: inline;
  margin: 0 auto; 
  transform: rotateZ(180deg);
}

 .ssteel{
   background: #919e9a; 
   position: relative;
   display: flex;
}

.ssteel figure {
  display: inline-block;
  width:100%;
  margin: 3em 3em 3em 34em;
}

.ssteelpic{
  display: inline;
  height: 120%;
  margin: 0;
  position: absolute;
}



/* photo block */

.col-md-4 {
  background: white;  
}

.photo-box {
	position: relative;
	line-height: 0;
	margin: 2em;
	width:300px;
	height:300px;
	text-align:center;
	overflow: hidden;
}

.photo-box p {
	line-height:22px;
	padding:0px 15px;
	max-width:420px;
	text-align:center;
}

/* photo overlay */
.photo-overlay {
  color: #fff;
	position: absolute;
  height: 300px;
  width: 300px;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .7);
}

/* transitions for photo-overlay */

.photo-overlay {
	opacity: 0;
	transition: opacity .4s;
}
.photo-overlay:hover {
	opacity: 1;
}


.arcsteel {
  positon: relative;
/*   display:flex; */
}

.arcsteel figure{
  display: inline-block;
  width:40%;
  margin: 4em;
}

.arcsidepic {
  width: 40%;
  height: 40%;
  position: absoulte;
  display: inline;
  margin: 0; 
  float: right;
}


.qcontrol {
  background: #11338B;
  color: white;
  padding: 3em;
}

.qcontrol figure{
  margin:3em;
}

.midpic{
  display: block;
  width: 100%;
  margin-top: ;
}

section {
  position: relative;
}

.contact{
  background: #919e9a;
  width: 60%;
  display: inline-block;
}

.contact div{
  padding: 3em;
  display: inline-block;
}


iframe {
  display: inline-block;
  width: 40%;
  height: 100%;
  position: absolute;
}


/*  Medium devices (tablets, smaller desktop) */
@media (max-width: 1032px) { 

  .home {
    background: red;
  }
  
  .tabletpic{
    display: none;
  }
  
  .pipepiling {
    text-align: ;
  }
  
  .pipepiling figure{
    width: 80%;
  }
  
  .pipepiling .ppsidepic{
    display: none;
  }
  
  .ssteelpic {
    margin: 0 auto;
    padding: 2em;
    width: 40%;
    height: auto;
  }
  
}

 
@media (max-width: 861px) { 

  .home {
    background: green;
    display: block;
  }
  
  .home figure{
    width: 90%;
    text-align: center;
  }
  
  .hsidepic{
    display: none;
  }
  
  .tabletpic{
    display: block;
    width: 100%;
  }
  
  .ssteel img{
    display: none;
  }
  
  .ssteel {
    text-align: right;
  }
  
  .ssteel figure {
    width:90%;
  }
  
  .arcsteel figure{
    width:90%;
  }
  
  .arcsteel img{
    display: none;
  }
  
  .contact{
    width: 100%;
  }
  
  iframe{
    display: block;
    width: 100%
  }
 
  
} 

@media (max-width: 544px) { 

  .home{
    background: orange;
  }
  
  .home figure{
    width: 90%;
  }
  
  
  .toppic {
    display: none;
  }
  
  
  .home img {
    display: none;
  }

}

/* bootstrap overrides */

.container-fluid {
  padding: 0 0 0 0 !important;
}