
/* navagation */

a {
  color: #11338b;
}

a:hover {
  text-decoration: none;
}

.nav-link {
  color: #11338b;
}

.dropdown-item{
  display: block;
  padding: .5em;
  color: #11338b;
}

/* headings */

h1{
  font-family:Avenir, sans-serif;
  font-weight:100;
  color: white;
}

/* body */

article {
  background: #dbd434;
}

.headerimg{
  width:100%;
  margin-top:3em;
}

.home figure {
  display: inline-block;
  width:45%;
  margin: 3em;
}

  .tabletpic{
    display: none;
  }


.hsidepic {
  margin: 2em 3em 2em 0;
  float: right; 
  height:200px;
}

.ppsidepic {
  margin: 2em 3em 0 0;
  float: right; 
  height: 300px;
  width: 200px;
}


.toppic {
  margin-top:-14px;
  height: 100px;
}

.pipepiling {
  background: #11338B;
}

.pipepiling figure{
  display: inline-block;
  width:45%;
  margin: 3em;
}

.pipepiling figure p {
  padding-top: 1em;
  color: white;
}

blockquote{
  margin: 4em;
}

 .ssteel{
   background: #919e9a;
}

.ssteel figure{
  display: inline-block;
  width:50%;
  margin: 2em;
}

.ssteelpic{
  display: inline;
  height: 300px;
  margin: -10em 2em 2em 2em;
}



.arcsteel figure{
  display: inline-block;
  width:55%;
  margin: 3em;
}

.arcsidepic {
  width: 300px;
  margin: -20% 3em 0 0;
}



.qcontrol {
  background: #11338B;
  color: white;
  padding: 3em;
}

#map-canvas {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  border: 2px solid #fff;
}

.contact{
  background: #919e9a;
  width: 50%;
  display: inline-block;
}

.contact div{
  padding: 3em;
  display: inline-block;
}

dd a:hover {
  color: rgba(225,225,225, .8);
}

ul {
  text-decoration: none;
}

dl{
  width: 60%;
}

dt {
  padding:.2em;
}


iframe {
  display: inline-block;
  width: 49%;
  height: 540px;
}


/*  Medium devices (tablets, smaller desktop) */
@media (max-width: 1032px) { 

  .home {
    background: red;
  }
  
  .tabletpic{
    display: none;
  }
  
  .pipepiling {
    text-align: ;
  }
  
  .pipepiling figure{
    width: 80%;
  }
  
  .pipepiling .ppsidepic{
    display: none;
  }
  
}

 
@media (max-width: 861px) { 

  .home {
    background: green;
    display: block;
  }
  
  .home figure{
    width: 90%;
    text-align: center;
  }
  
  .hsidepic{
    display: none;
  }
  
  .tabletpic{
    display: block;
    width: 100%;
  }
  
  .ssteel img{
    display: none;
  }
  
  .ssteel {
    text-align: right;
  }
  
  .ssteel figure {
    width:90%;
  }
  
  .arcsteel figure{
    width:90%;
  }
  
  .arcsteel img{
    display: none;
  }
  
  .contact{
    width: 100%;
  }
  
  iframe{
    display: block;
    width: 100%
  }
 
  
} 

@media (max-width: 544px) { 

  .home{
    background: orange;
  }
  
  .home figure{
    width: 90%;
  }
  
  
  .toppic {
    display: none;
  }
  
  
  .home img {
    display: none;
  }

}