h1{
  text-align: left;
}

.headertext{
  color: white;
	background: #11338B;
}

body {
	padding-top: 70px;
}

h2{
  margin-top:1em;
}

figcaption{
  font-size:1.1em;
  padding:0 5px;
}

.padding{
  padding-top:16px;
}

@media (max-width: 861px){

  body{
    margin: 0 2em;
  }
}
